<div class="admin-content-header">
  <div class="admin-content-header-title">
  <h2>
  Blocks
</h2>
</div>
<div class="admin-content-header-action">
  <%= link_to 'New Block',  new_admin_block_path, class: "btn btn-outline-info" %>
</div>
</div>



<ul class="items-listing">
  <li class="item-listing-inner table-title">
      <div class="listing-items date"><b>Date</b></div>
      <div class="listing-items title"><b>Title</b></div>
      <div class="listing-items page-assignment"><b>Page Assignment</b></div>
      <div class="listing-items action">
        <b>Action</b>
      </div>
    </li>
  <% @blocks.each do |block| %>
    <li class="item-listing-inner">
      <div class="listing-items date"><%= block.created_at.strftime("%b %d, %Y") %></div>
      <div class="listing-items title"><b><%= block.title %></b></div>
      <div class="listing-items page-assignment"> <%= render block.pages %> </div>
      <div class="listing-items action">
        <%= link_to '', admin_block_path(block), class: "fa fa-globe"  %>
        <%= link_to '', edit_admin_block_path(block), class: "fa fa-edit" %>
        <%= link_to '', admin_block_url(block), method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash" %>
      </div>
    </li>
  <% end %>
  
</ul>