
  <h1>
   Edit <%= @article.title %>
</h1>

<%= render 'shared/errors', obj: @article %>

  <%= form_for @article, :url => url_for(:controller => 'admin/articles', :action => 'update'), :html => {class: "form-custom",} do |f| %>

    <div class="form-group">
      <%= f.label :title %> 
      <%= f.text_field :title, class: "form-control", autofoucs: true %>
  </div>

    <div class="form-group">
      <%= f.label :description %>
     
      <%= f.rich_text_area :description, class: "", id: "counted" %>
      
      <p>Current character count: <span id="char-count">0</span> / 10,000</p>
  </div>

<div class="form-group">
  <legend>Feature this article?</legend>
  <div class="form-check-box">
      <%= f.check_box :featured %> 
      <%= f.label :featured %>
  </div>
     
   
  </div>

<div class="form-group">
    <%= f.label :featured_image %><br>
    <%= f.file_field :featured_image, direct_upload: true, class: "form-control-file" %>
  </div>
  <% if @article.featured_image.attached? %>
    <figure class="attachment">
        <%= image_tag @article.featured_image, width:100, height: "auto" %>
    </figure>
    <div class="form-group">
      <div class="form-check-box">
        <%= f.check_box :remove_featured_image %>
        <%= f.label :remove_featured_image %>
      </div>
    </div>
  <% end %>

<div class="form-group">
  <legend>Select Categories</legend>
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>   
    <div class="form-check-box">
    <%= b.check_box %> <%= b.label %>
    </div>
  <% end %>


   
  </div>

  <p>
    <%= f.submit class: "btn btn-success"%>
  </p>

<% end %>
  
<%= link_to 'Back to acticle listing', articles_path %> 