
  <h2>
 Create an Article
</h2>


<%= render 'shared/errors', obj: @article %>

  <%= form_for @article, :url => url_for(:controller => 'admin/articles', :action => 'create'), :html => {class: "form-custom",} do |f| %>

<div class="form-grid">
  <div class="form-grid-item">
    <div class="form-group">
      <%= f.label :title %> 
      <%= f.text_field :title, class: "form-control", autofoucs: true %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.rich_text_area :description, class: "counted" %>
     <small class="form-text text-muted">Current character count: <span class="char-count">0</span></small>
    </div>
  </div>
  <div class="form-grid-item">
    
    <div class="form-group">
      <label>Featured Article?</label>
      <%= f.check_box :featured %> 
    </div>
    
    <div class="form-group">
      <%= f.label :featured_image %><br>
      <%= f.file_field :featured_image, direct_upload: true, class: "form-control-file" %>
    </div>
    
    <div class="form-group">
      <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>    
        <%= b.check_box %> <%= b.label %>
      <% end %>
    </div>
    
    <legend>Meta</legend>
    <%= f.fields_for :article_metum do |meta| %>
      <div class="form-group">
        <%= meta.label :meta_title %> 
        <%= meta.text_field :meta_title, class: "form-control metat-counted" %>
         <small class="form-text text-muted">Recommended: 70 characters. You’ve used <span class="metat-char-count">0</span></small>
      </div>
      <div class="form-group">
        <%= meta.label :meta_description %> 
        <%= meta.text_area :meta_description, class: "form-control metad-counted" %>
        <small class="form-text text-muted">Recommended: 200 characters. You’ve used <span class="metad-char-count">0</span></small>
      </div>
      <div class="form-group">
        <%= meta.label :meta_keyword %> 
        <%= meta.text_field :meta_keyword, class: "form-control" %>
      </div>
      
    <% end %>

    
  </div>
</div>
    

    
  <p>
    <%= f.submit class: "btn btn-success"%>
  </p>

<% end %>
  
<%= link_to 'Back to acticle listing', articles_path %> 
<%= render 'admin/shared/form_scripts' %>