

<section class="home-featured">
  <div class="featured-articles">
    <% featured_articles.each do |farticle| %>
      <div class="featured-items">
        <% if farticle.featured_image.attached? %>
          <div class="featured-thumb " style="background-image: url('<%= url_for(farticle.featured_image) %>')">
          </div>
          <% else %>
            <div class="featured-thumb">
            </div>
            <% end %>
            <div class="ov"></div>
              <div class="featured-content">
                <h5>
                  <%= link_to farticle.title,  article_path(farticle) %>
                </h5>
                <% if farticle.categories.any? %>
    <p> <%= render farticle.categories %></p>
  <% end %>
              </div>
      </div>
      <% end %>
  </div>
</section>
<div class="container">
<div class="row">

<%= render 'article', obj: @articles %>
  
  <div class="center">
    <%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'ppagination-lg') %>
  </div>
  </div>
</div>

<Section class="cat-section">
  
  <h2 class="text-center">Stories By Catrgory</h2>
  


  <div class="container">
<div class="classified-contents">
    <% categories_home.each do |category| %>
      <div class="cat">
        <%= link_to category.name, category_path(category) %>
          <% category.article.order("created_at desc").limit(5).each do |category_articles| %>
            <div class="cat-articles">
              <div class="recent-thumb" style="background-image: url('<%= url_for(category_articles.featured_image) if category_articles.featured_image.attached? %>')">
          </div>
              <div class="recent-content">
              
                <%= link_to category_articles.title,  article_path(category_articles), class: "recent-titile" %>
                <span style="display: block;font-size: 14px;margin-top: -5px;"><small><em>By <%= link_to category_articles.user.username,  user_path(category_articles.user) %></em></small></span>
              </div>
            </div>
            <% end %>
      </div>
      <% end %>
      </div>
      </div>
  </Section>
