<div class="container">
  
<h2>
  Edit Project
</h2>

<%= render 'shared/errors', obj: @project %>

  <%= form_for @project, :url => url_for(:controller => 'admin/projects', :action => 'update'), :html => {class: "form-custom",} do |f| %>

    <div class="form-group">
      <%= f.label :title %> 
      <%= f.text_field :title, class: "form-control", autofoucs: true %>
  </div>

    <div class="form-group">
      <%= f.label :description %>
     
      <%= f.rich_text_area :description, class: "" %>
  </div>

<div class="form-group">
     <label>Project Link</label>
      <%= f.url_field :project_link, direct_upload: true, class: "form-control" %> 
   
  </div>
   <div class="form-group">
     <label>Project Image</label>
      <%= f.file_field :project_image, class: "form-control" %> 
  </div>
    <% if @project.project_image.attached? %>
      <figure class="attachment">
        <%= image_tag @project.project_image, width: 100 %>
      </figure>
      <div class="form-group">
        <div class="form-check-box">
          <%= f.check_box :remove_project_image %>
          <%= f.label :remove_project_image %>
        </div>
      </div>
    <% end %>


<div class="form-group">
	<%= f.label "Project Type" %>
    <%= f.collection_select(:project_type_id, ProjectType.all, :id, :name) %>
  </div>
  
   <legend>Meta</legend>
    <%= f.fields_for :project_metum do |meta| %>
      <div class="form-group">
        <%= meta.label :meta_title %> 
        <%= meta.text_field :meta_title, class: "form-control metat-counted" %>
         <small class="form-text text-muted">Recommended: 70 characters. You’ve used <span class="metat-char-count">0</span></small>
      </div>
      <div class="form-group">
        <%= meta.label :meta_description %> 
        <%= meta.text_area :meta_description, class: "form-control metad-counted" %>
        <small class="form-text text-muted">Recommended: 200 characters. You’ve used <span class="metad-char-count">0</span></small>
      </div>
      <div class="form-group">
        <%= meta.label :meta_keyword %> 
        <%= meta.text_field :meta_keyword, class: "form-control" %>
      </div>
      
    <% end %>

  <p>
    <%= f.submit class: "btn btn-success"%>
  </p>

<% end %>

  
  </div>
  
  <%= render 'admin/shared/form_scripts' %>