<div class="admin-content-header">
  <div class="admin-content-header-title">
  <h2>
  Projects
</h2>
</div>
<div class="admin-content-header-action">
  <%= link_to 'New Project',  new_admin_project_path, class: "btn btn-outline-info" %>
</div>
</div>



<ul class="items-listing">
  <li class="item-listing-inner table-title">
      <div class="listing-items date"><b>Date</b></div>
      <div class="listing-items title"><b>Title</b></div>
      <div class="listing-items page-assignment"><b>Project Type</b></div>
      <div class="listing-items action">
        <b>Action</b>
      </div>
    </li>
  <% @projects.each do |project| %>
    <li class="item-listing-inner">
      <div class="listing-items date"><%= project.created_at.strftime("%b %d, %Y") %></div>
      <div class="listing-items title"><b><%= project.title %></b></div>
      <div class="listing-items page-assignment"> <%= project.project_type.name if project.project_type.present? %> </div>
      <div class="listing-items action">
        <%= link_to '', project_path(project), class: "fa fa-globe"  %>
        <%= link_to '', edit_admin_project_path(project), class: "fa fa-edit" %>
        <%= link_to '', admin_project_url(project), method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash" %>
      </div>
    </li>
  <% end %>
  
</ul>

