<div class="page-wrapper <%= @page.page_class if @page.page_class.present? %>">
<% if @page.page_cover.attached? %>
	<header class="page-header" style="background-image: url('<%= rails_blob_path(@page.page_cover, disposition: "attachment", only_path: true) %>')">
		<div class="ov"></div>
		<h2 class="page-header-title"><%= @page.title %></h2>
	</header>
<% end %>
<%= render 'pages/positions/top' if @page_blocks_top %>

<% if @page_blocks_left.present? && @page_blocks_right.present? %>
		 <div class="main">
		 	<div class="container">
		 		<div class="row">
		 			<div class="col-md-3">
		 				<%= render 'pages/positions/left' %>
		 			</div>
		 			<div class="col-md-6">
		 					<%= raw @page.body %>
		 			</div>
		 			<div class="col-md-3">
		 				<%= render 'pages/positions/right' %>
		 			</div>
		 		</div>
		 	</div>
		 </div>
		 
<% elsif @page_blocks_left.present? %>
	 <div class="main">
	 	<div class="container">
	 		<div class="row">
	 			<div class="col-md-4">
	 					<%= render 'pages/positions/left' %>
	 			</div>
	 			<div class="col-md-8">
	 				<%= raw @page.body %>
	 			</div>
	 		</div>
	 	</div>
	 </div>
	
	<% elsif @page_blocks_right.present? %>
		<div class="main">
		 	<div class="container">
		 		<div class="row">
		 			<div class="col-md-8">
		 					<%= raw @page.body %>
		 			</div>
		 			<div class="col-md-4">
		 				<%= render 'pages/positions/right' %>
		 			</div>
		 		</div>
		 	</div>
		 </div>
	<% else %>
	
	<% if @page.body.present? %>
	<div class="main">
		<div class="container">
			<div class="row">
			<div class="col-md-12">
						<%= raw @page.body %>
			</div>
		</div>
		</div>
	</div>
	<% end %>
	<% end %>


<%= render 'pages/positions/bottom' if @page_blocks_bottom %>
<% if @page_blocks_footer.present? %>
	<div class="page-footer">
		<div class="container">
			<div class="page-footer-grid">
				<%= render 'pages/positions/footer' %>
			</div>
		</div>
	</div>
<% end %>

</div>