<div class="single-header">
	<div class="ov"></div>
<h2>Projects Completed</h2>
</div>

<div class="container project-zindex">
		<div class="buttons-center">
      <button class="btn btn-default filter-button" data-filter="all">All Projects</button>
      <% @project_types.each do |ft| %>
      <button class="btn btn-default filter-button" data-filter="<%= ft.id %>"><%= ft.name %></button>
      <% end %>
      </div>
      <div class="project-wrapper">
    	<% @projects.each do |p| %>
      	 <a href="<%= project_path(p) %>" class="project-items gallery_product filter <%= p.project_type_id %>">
      	 <% if p.project_image.attached? %>
                <%= image_tag '/images/loading.gif', data: { src: "#{url_for(p.project_image.variant(resize_to_limit: [550, 550]))}"}, class: "img-fluid lazy" %>
              <% end %>
            </a>
<% end %>
 
      </div>
     
    
 </div>