<%# render 'shared/errors', obj: @admin_category %>

  <%= form_for @admin_category, :url => url_for(:controller => 'admin/categories', :action => 'update'), :html => {class: "form-custom",} do |f| %>

    <div class="form-group">
      <%= f.label :name %> 
      <%= f.text_field :name, class: "form-control", autofoucs: true %>
  </div>

    <div class="form-group">
      <%= f.label :description %>
     
      <%= f.text_area :description, rows: 10, class: "form-control", id: "counted" %>
      
    
  </div>

<div class="form-group">
    <%= f.label :cover_image_cat, "Cover Image" %><br>
    <%= f.file_field :cover_image_cat, direct_upload: true %>
</div>
  <% if @admin_category.cover_image_cat.attached? %>
  <figure class="attachment">
      <%= image_tag @admin_category.cover_image_cat, width: 200 %>
      </figure>
      <div class="form-group">
        <div class="form-check-box">
          <%= f.check_box :remove_cover_image %>
          <%= f.label :remove_cover_image %>
        </div>
      </div>
    <% end %>

  <p>
    <%= f.submit class: "btn btn-success"%>
  </p>

<% end %>