<h2>Dashboard</h2>
<div class="dash-top">
 <% if current_user.admin? %>
 <a href="<%= admin_articles_url %>">Total Articles <span><%= pluralize(@db_articles.count, '') %></span></a>
 <% else %>
<a href="<%= admin_articles_url %>">Total Articles <span><%= pluralize(@user_articles.count, '') %></span></a>
<% end %>
<a href="<%= admin_categories_url %>">Total Categories <span><%= pluralize(@categories.count, '') %></span></a>
<a href="<%= admin_pages_url %>">Total Pages <span><%= pluralize(@pages.count, '') %></span></a>
<a href="<%= admin_projects_url %>">Total Projects <span><%= pluralize(@projects.count, '') %></span></a>
</div>
<div class="dash-middle row">
 
 <div class="col">
  
 </div>
 <div class="col">
  <div class="dash-items">
  <ul class="items-listing">
  <li class="item-listing-inner table-title">
      <div class="listing-items date"><b>Date</b></div>
      <div class="listing-items title"><b>User Name</b></div>
      <div class="listing-items page-assignment"><b>Email</b></div>
    </li>
  <% @users.limit(5).each do |user| %>
    <li class="item-listing-inner">
      <div class="listing-items date"><%= user.created_at.strftime("%b %d, %Y") %></div>
      <div class="listing-items title"><b><%= user.username %></b></div>
      <div class="listing-items page-assignment"> <%= user.email %> </div>
    </li>
  <% end %>
  
</ul>
</div>
 </div>
</div>