<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: "#{setting.site_title}" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= raw setting.code_header %>
  </head>

 <body role="document" class="<%= controller.controller_name %> <%= controller.action_name %>" data-controller="<%= controller.controller_path %>" data-action="<%= controller.action_name %>">
    <%= render 'layouts/pagenav' %>
    <%= render 'layouts/messages' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= javascript_pack_tag 'application' %>
     <%= raw setting.code_footer %>
  </body>
  
</html>
